*{
    margin: 0%;
    padding: 0%;
}

body{
height: 100vh;
background-color: rgb(99, 18, 18);
background-attachment: fixed;
color: rgb(255, 255, 255);
margin: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.titulo-destaque {
    color: #d38b06;
}

.conteudo {
    height: auto;
    flex-direction: column;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.apresentacao-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 40px;
    order: 2;
}

.apresentacao-conteudo-texto {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: Arial,  Helvetica, sans-serif;
    text-align: center;
}

.apresentacao-conteudo-paragrafo{
    font-size: 24px;
font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.apresentacao-links-conteudo {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
}

.botao1 {
    background-color: rgb(99, 18, 18);
    color: rgb(220, 25, 25);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eb0f0f;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao1::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #f10c08d5);
    transition: 0.5s;
}

.botao1:hover::before {
    left: 100%;
}

.botao1 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}

/* fim botao1 */

.botao2 {
    background-color: rgb(99, 18, 18);
    color: rgb(40, 126, 239);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #451bba;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao2::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, hsl(234, 98%, 68%));
    transition: 0.5s;
}

.botao2:hover::before {
    left: 100%;
}

.botao2 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}
/*fim botao2 */

.botao3 {
    background-color: rgb(99, 18, 18);
    color: rgb(171, 171, 171);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #686868;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao3::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #9e9d9d);
    transition: 0.5s;
}

.botao3:hover::before {
    left: 100%;
}

.botao3 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}
/* fim botao3 */

.botao4 {
    background-color: rgb(99, 18, 18);
    color: rgb(27, 249, 39);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1be72c;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao4::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #12f412);
    transition: 0.5s;
}

.botao4:hover::before {
    left: 100%;
}

.botao4 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}
/* fim botao4 */

.botao5 {
    background-color: rgb(99, 18, 18);
    color: rgb(220, 23, 69);
    width: 500px;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f51949;
    border-radius: 50px;
    font-size: 36px;
    padding: 15px 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.botao5::before {
    content: "";
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, #c90654);
    transition: 0.5s;
}

.botao5:hover::before {
    left: 100%;
}

.botao5 i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;

}
/* fim botao5 */

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: transparent #101010;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

.rodape:hover {
    color: #2508cb;

}

.imagem{
    max-width: 100%;
    width: 400px;
    height: 540px;
    text-align: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(56, 4, 4);
    transition:transform 0.3 ease-in-out;
    position: relative;
    overflow:hidden;
    order: 1;
    margin-bottom: 80px;
}

.imagem img {

    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;

}

.imagem::before,
.imagem::after {

content: "";
position: absolute;
width: 10px;
height: 10px;
border: 2px solid #ff5500;
background-color: transparent;

}

.imagem::before {

    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #800000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    right: 0;
    border-bottom-right-radius: 10px;
    border-width: 2px 0 0 2px;

}

.rodape:hover {
    color: #ffa500;
}
.imagem::after {

    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-width: 0 2px 2px 0;

    }

    .imagem:hover {

    transform: scale(1.1);

    }



